# Node & PNPM
node_modules/
.pnpm/
.pnpm-store/
.next/
dist/
build/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git/
.gitignore

# .NET
bin/
obj/
NeoSave.API/bin/
NeoSave.API/obj/
NeoSave.Application/bin/
NeoSave.Application/obj/
NeoSave.Domain/bin/
NeoSave.Domain/obj/
NeoSave.Infrastructure/bin/
NeoSave.Infrastructure/obj/

# Logs
*.log
**/*.log

# Docker files
Dockerfile
.dockerignore
