bin
obj
.vscode
.git
.gitignore
Dockerfile
.dockerignore
*.log
NeoSave.API/bin
NeoSave.API/obj
NeoSave.Application/bin
NeoSave.Application/obj
NeoSave.Domain/bin
NeoSave.Domain/obj
NeoSave.Infrastructure/bin
NeoSave.Infrastructure/obj
Frontend/node_modules
Frontend/.next
Frontend/dist
Frontend/build
NeoSave.Client/node_modules
NeoSave.Client/.next
NeoSave.Client/dist
NeoSave.Client/build
