# Exclude local node_modules from being sent to Docker
**/node_modules
**/.pnpm
**/.next
**/dist
**/build

# Git & IDE
.git
.gitignore
.vscode
.idea

# Docker
Dockerfile
.dockerignore

# Logs & OS clutter
*.log
.DS_Store
Thumbs.db
